<!DOCTYPE html>
<html>

<head>
  <title>Snow-POS Mobile Client</title>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">

  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no">

  <style>
  </style>

</head>

<body>

  <button class="normal-border dark-button" id="BUTTON">TEST!</button>
    <div style="font-size: 80px;" id="DIV"></div>

  <script defer>

    document.getElementById("BUTTON").addEventListener("click", () => {
      console.log("<%= a %>");});

  </script>
</body>

</html>
